
/*waves****************************/
.box {
	position: fixed;
	top: 0;
	transform: rotate(80deg);
	left: 0;
  pointer-events: none;
}

.wave {
  pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 10%;
  background: darken($color: $dark-color, $amount: 10);
  width: 1500px;
  height: 1300px;
  margin-left: -150px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 15s infinite linear;
}

.wave.-three {
  animation: drift 13s infinite linear;
	position: fixed;
    background: darken($color: $dark-color, $amount: 2);
	
}

.wave.-two {
  animation: drift 10s infinite linear;
  opacity: .1;
  background: black;
	position: fixed;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

/*LOADING SPACE*/

.contain {
	animation-delay: 4s;
	z-index: 5;
  pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background: -webkit-linear-gradient($dark-color, $black);
  background: linear-gradient($black, $dark-color);
}

