@media all and (min-width:650px){
    nav{
        grid-template-columns: 10% 1fr 20%;
        padding: .2rem 1rem;
    }
    .nav-links{
        width: 80%;
        justify-self: center;
        justify-content: space-around;
        position: relative;
        flex-direction: row;
        transform: none;
        background-color: transparent;
        // align-items: unset;
        li{
            font-size: 1.2rem ;
            margin: 0;
        }
        
    }

    .nav-link{
        font: 1rem;
    }

    // -----------------------------home page ----------------------

    .home-page{
        grid-template-columns: 1fr 1fr;
        min-height: 500px;
        .landing-right-section,
        .landing-left-section{
            display: flex;
            align-items: center;
            justify-content: center;
        }



        .landing-left-section{
            flex-direction: column;
            align-items: flex-start;
           .text{
            h1,.logo{
                font-size:4rem;
            }
            p{
                
                font-size: 1.2rem;
            }
           }
            .action-buttons{
                margin-top:1rem;
                button{
                    display: inline;
                }
                button:last-child{
                    margin-left:1rem;
                }
            }
        }
        .landing-right-section{
            .logo{
                font-size: 25rem;
            }
        }
        .social-links{
            flex-direction: column;
    
            svg{
                height: 2rem;
                margin: 1rem .5rem;
            }
        }
    }


    .page-heading{
        .line{
            width: 100%;
        }
      

    }

    //------------------------project-page------------------

    .project-page{
        section{
            grid-template-columns: 1fr 1fr;
            gap:1rem;
            
                //-----------------project-card-------------------
                .project-card{
                    height: 250px;
                }
        }
    }

    //--------------------about page -------------------------
    .about-page{
        section{
            grid-template-columns: .5fr 1fr;

           .description{
               .bio{
                   font-size: 1.2rem;
                   grid-template-columns: 1fr 1fr;
                   gap: .3rem 1rem;
                }
           }

           .container-skills{
            margin-top: 1rem;
            grid-template-columns: repeat(4,1fr);
            .skills-container{
                width: 100%;
                ul{
                    li{
                        margin-top: 0.3rem;
                        font-family: "Nunito",sans-serif;
                    }
                }
            }
        }
        }
    }
}